<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8"/>
    <title>سامانه برون‌سپاری کارها</title>
    <link href="‍" rel="stylesheet" type="text/css"/>
    <style type="text/css">

    </style>


    <!--[if IE]>
    <script>
  document.createElement('header');
  document.createElement('footer');
  document.createElement('section');
  document.createElement('nav');


    </script>
    <![endif]-->


    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

<div class="container">
    <header>

        <div id="logo"><img src="{% static 'main/images/logo.png' %}" alt="your logo here" border="0" class="imagedropshadow"/></div>


        <h2 align="center">
            کاردونی
        </h2>

        <div id="login" align="right">
            <form method="post" action="..." align="right">

                <input type="submit" value="جستجو"/>

                <input type="text" name="username" size="15"/>


            </form>
            <nav>
                <br/>

                <div class="navbutton"><a href="/main">خانه</a></div>
                <div class="navbutton"><a href="sign_up">ثبت نام</a></div>
                <div class="navbutton"><a href="#">درباره ما</a></div>
                <div class="navbutton"><a href="contact">تماس با ما</a></div>
            </nav>

            <br/><br/><br/>
            <div class="photo"></div>
            <h3 align="right">
                خوش آمدید
            </h3>

            <p align="right"> خسته نباشید <br/> کارهایتان را به ما بسپرید. <br/> سلام <br/>
            </p>

            <p></p>

            <div class="readbutton"><a href="#">ورود</a></div>
            <div class="readbutton"><a href="#">ایجاد حساب</a></div>

        </div>


    </header>
</div>
<!-- Free template distributed by http://freehtml5templates.com -->


</body>


</html>
