<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8"/>
    <title>Principato Italian Cuisine</title>
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet" type="text/css"/>
    <style type="text/css"></style>

    <!--[if IE]>
    <script>
  document.createElement('header');
  document.createElement('footer');
  document.createElement('section');
  document.createElement('nav');


    </script>
    <![endif]-->


    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

<div class="container">
    <header>

        <div id="logo"><img src="{% static 'main/images/logo.png' %}" alt="your logo here" border="0"
                            class="imagedropshadow"/></div>

        <h2 align="center">
            Tasket
        </h2>

        <br/><br/><br/><br/>


        <br/><br/><br/>

        <div id="login">
            <form method="post" action="http://YOUR_DOMAIN_HERE/login/login.php">
                <br/>Title: <input type="text" name="username" size="15"/><br/>
                <br/>Dead line: <input type="text" name="username" size="20"/><br/>

                <br/>Description: <input type="text" name="username"
                                         style="width:213px;height:113px;line-height:113px"/>
                <br/>
                <br/>

                <div class="readbutton" align="center"><a href="#">Create</a></div>
            </form>
        </div>
    </header>
</div>
<!-- Free template distributed by http://freehtml5templates.com -->

</body>

</html>
