<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8"/>
    <title>سامانه ی برونسپاری کارها</title>
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet" type="text/css"/>
    <style type="text/css">

    </style>


    <!--[if IE]>
    <script>
  document.createElement('header');
  document.createElement('footer');
  document.createElement('section');
  document.createElement('nav');

    </script>
    <![endif]-->


    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>


<body>


<div class="container">
    <header>

        <div id="logo"><img src="{% static 'main/images/logo.png' %}" alt="your logo here" border="0" class="imagedropshadow"/></div>

        <h2 align="center">
            کاردونی
        </h2>


        <br/><br/><br/><br/>

        <div class="prophoto"></div>

        <div dir="rtl">

            <h3>مهدی شفیعی </h3>

            <p>
                مهارت ها :<br/><br/>
                تجارب: <br/><br/>
                کار فعلی: <br/><br/>
            </p>
        </div>



    </header>
</div>
<!-- Free template distributed by http://freehtml5templates.com -->

</body>

</html>
