<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8"/>
    <title>سامانه ی برونسپاری کارها</title>
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet" type="text/css"/>
    <style type="text/css">

    </style>


    <!--[if IE]>
    <script>
  document.createElement('header');
  document.createElement('footer');
  document.createElement('section');
  document.createElement('nav');

    </script>
    <![endif]-->


    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>


<body>


<div class="container">
    <header>

        <div id="logo"><img src="{% static 'main/images/logo.png' %}" alt="your logo here" border="0" class="imagedropshadow"/></div>

        <h2 align="center">
            کاردونی
        </h2>


        <br/><br/><br/><br/>


        <nav>
                    <div class="navbutton"><a href="/main">خانه</a></div>
                    <div class="navbutton"><a href="sign_up">ثبت نام</a></div>
                    <div class="navbutton"><a href="sign_up">ورود</a></div>
                    <div class="navbutton"><a href="#">درباره ما</a></div>
                    <div class="navbutton"><a href="contact">تماس با ما</a></div>
        </nav>



        <br/><br/>

        <div class="prophoto"></div>

        <div dir="rtl">

            <h3>مهدی شفیعی </h3>

            <p>
                مهارت ها :<br/><br/>
                تجارب: <br/><br/>
                کار فعلی: <br/><br/>
            </p>
        </div>


         <div id="login"   dir="rtl">
            {% if result %}
            {{ result }}
            {% endif %}
            <form method="post" action="">
                {% csrf_token %}
                <div >

                    <div class="readbutton"  dir="rtl"><a href="/main/AddSkill">افزودن مهارت </a></div>
                    <div class="readbutton"  dir="rtl"><a href="/main/EditProfile">ویرایش حساب کاربری</a></div>




                </div>

            </form>
        </div>



    </header>
</div>
<!-- Free template distributed by http://freehtml5templates.com -->

</body>

</html>
