<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8"/>
    <title>Sign Up</title>
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet" type="text/css"/>
    <style type="text/css"></style>


    <!--[if IE]>
    <script>
  document.createElement('header');
  document.createElement('footer');
  document.createElement('section');
  document.createElement('nav');


    </script>
    <![endif]-->


    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

<div class="container">
    <header>
        <div id="logo">
            <img src="{% static 'main/images/logo.png' %}" alt="your logo here" border="0" class="imagedropshadow"/>
        </div>

        <h2 align="center">
            کاردونی
        </h2>

        <br/><br/><br/><br/>

        <div class="photo"></div>



        <div id="login">
            {% if result %}
            {{ result }}
            {% endif %}
            <form method="post" action="">
                {% csrf_token %}
                <div dir="rtl">
                    <label for="FirstName">نام:</label></br>
                    <input type="text" name="fist_name" id="FirstName" size="20"></br></br>

                    <label for="LastName">نام خانوادگي:</label></br>
                    <input type="text" name="last_name" id="LastName" size="20"></br></br>


                    <label for="Email">رايانامه:</label></br>
                    <input type="text" name="email" id="Email" size="20" dir="ltr"></br></br>

                    <label for="Username">نام کاربري:</label></br>
                    <input type="text" name="user_name" id="Username" size="20" dir="ltr"></br></br>

                    <label for="Password">گذرواژه:</label></br>
                    <input type="password" name="password" id="Password" size="20" dir="ltr"></br></br>

                    <label for="confirmPassword">تأييد گذرواژه:</label></br>
                    <input type="password" name="confirm_password" id="confirmPassword" size="20" dir="ltr"></br></br>
                    <button class="readbutton" align="right" type="submit">ایجاد</button>

                </div>

            </form>
        </div>
    </header>
</div>


</body>

</html>


